<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Welcome - EPIC MAIL</title>
   <link rel="icon" href="https://djallas.github.io/epicmail/UI/images/icon.png">
   <meta name="description" content="Welcome to EPICMAIL">
   <meta name="keywords" content="Homepage">
   <meta name="author" content="Gilles Kagarama">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" media="screen" href="https://djallas.github.io/epicmail/UI/css/style.0.1.css" />
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
   <script src="https://djallas.github.io/epicmail/UI/js/jquery-3.2.1.min.js"></script>
</head>
<body class="indigo">
      <section>
            <div class="row ">
            <div class="container center-align"> 
                  <div class="s4 m4 l4">
                        <div class="xl-padding move-1">
                        <h1 class="xxl-text center-align text-white">
                              Welcome to
                        </h1>
                        <div class="row">
                              <div class="image move-2">
                                    <img src="https://djallas.github.io/epicmail/UI/images/logo.svg" style="width:219px;height:60px" alt="EPICMAIL">
                              </div>
                        </div>
                        <br>
                        <br>

                        <div class="center-align l-v-padding l-text text-white">
                              EPIC Mail is web app that help people to send and receice emails.<br> It take advantage of Twilio to notify the arrival of email
                        </div>                        
                        <br>
                        <br>
                        
                        <a href="./docs" class="btn jazzberry text-white xl-h-padding l-v-padding radius-6"> <span class="fas fa-chalkboard"></span> API Docs</a>
                        <a href="https://djallas.github.io/epicmail/UI/" class="btn jazzberry text-white xl-h-padding l-v-padding radius-6"> <span class="fas fa-envelope"></span> Mail App</a>
                        <a href="https://github.com/djallas/epicmail" class="btn jazzberry text-white xl-h-padding l-v-padding radius-6"> <span class="fab fa-github"></span> Github</a>
                        <br>
                        <br>
                        </div>
                  </div>            
            </div>
            </div>
            <div class="clear"></div>
      </section>
      <div class="mailer_ui hide-on-small">
            <img src="https://djallas.github.io/epicmail/UI/images/mailer_ui.png" alt="Mailer User Interface">
      </div>
</body>
</html>